$color-principal: white;
$border-color: #82b96e;
$background-form:#CEFFBC; 

.formulario{
    background: $background-form;
    p{
        color: $border-color;
    }

}
.registrar{
    background-color: $border-color;

}